
.card .cardTitle {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.card h1 {
  font-size: 14px;
  margin-top: 0
}

.bgOrange{
  color: #b87146;
}

.bgBlue{
  color: #25606e;
}


.cardContainer{
  display: flex;
  justify-content: space-between;
}

.card {
  width: 49%;
  height: auto;
  background-color: #FFF;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0, 0.4);
  border-radius: 5px;
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  margin-bottom: 30px;
}

@media (max-width: 580px) {
  .cardContainer {
    display: block;
  }
  .cardContainer .card {
      width: 100%;
    }
}

.card .cardText {
  font-weight: 700;
  font-size: 12px;
  text-align: left;

}

.card img {
  max-width: 120px;
  max-height: 50px;
}

.card .cardPrice {
  text-align: right;
}

.card .cardPrice .price {
  margin: 0;
}

.card .cardPrice small {
  color: gray;
  font-size: 11px;
}

.card .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card button {
  cursor: pointer;
  margin: 10px;
  color: purple;
  font-weight: 700;
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
}

.card button:hover{
  color: #8e44ad;
}