.App {
  text-align: center;
}

.backgroundRed {
  background: linear-gradient(to bottom, rgb(223, 99, 32), rgb(221, 189, 75) 32%, #eee 32%);

}

.backgroundYellow {
  background: linear-gradient(to bottom, rgb(221, 189, 75), rgb(81,167,166) 32%, #eee 32%);
}
.backgroundBlue {
  background: linear-gradient(to bottom, rgb(81,167,166), rgb(2,90,101) 32%, #eee 32%);
}

.App p {
  color: gray;
  font-weight: 700;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 30px;
}

.App-link {
  color: #61dafb;
}

section.content {
  height: 100vh;
  margin: 0 auto;
  width: 90%;
  max-width: 990px;
}

.container {
  width: 100%;
  height: auto;
  background-color: #FFF;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0, 0.4);
  border-radius: 5px;
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  margin: 0 auto 30px;
}
